 @font-face {
      font-family: 'DMSans_Regular';
      src: url('DMSans_Regular.woff2') format('woff2'), url('DMSans_Regular.woff') format('woff');
    }
    @font-face {
      font-family: 'DMSans_Medium';
      src: url('DMSans_Medium.woff2') format('woff2'), url('DMSans_Medium.woff') format('woff');
    }
    @font-face {
      font-family: 'DMSans_Bold';
      src: url('DMSans_Bold.woff2') format('woff2'), url('DMSans_Bold.woff') format('woff');
    }
    @font-face {
      font-family: 'DMSans_ExtraBold';
      src: url('DMSans_ExtraBold.woff2') format('woff2'), url('DMSans_ExtraBold.woff') format('woff');
    }